.service_container{
    position: relative;
    width: 100%;
    height: 100%;
}
.services_our_service_text{
    position: relative;
    font-size: 1.6rem;
    font-weight: 700;
    font-style: normal;
    color: #14aafa;
    text-align: left;
}
.service_card{
    position: relative;
    height: 300px;
    background-image: url(/src/Utils/Images/p-38544.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
    opacity: 0.8;
}
.service_card:hover{
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.service_row_cards{
  position: relative;
  margin-top: 40px;
}
.service_card_header{
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    color: #fefefe;
    line-height: 1;
}
.service_card_title{
    margin: -2px;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
    color: var(--text-color-fff);
}
.service_card_text{
    position: relative;
    display: flex;
    top: 80px;
    justify-content: flex-end;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: normal;
    color: var(--text-color-fff);
}
.service_card_text_col{
    background: rgba(64,114,108,.6);
}

.service_row_cards1{
    position: relative;
    margin-top: 60px;
}
.service_card1{
    position: relative;
    height: 300px;
    background-image: url(/src/Utils/Images/p-5082579.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
    opacity: 0.8;
}
.service_card1:hover{
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.service_card2{
    position: relative;
    height: 300px;
    background-image: url(/src/Utils/Images/p-5082561.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
    opacity: 0.8;
}
.service_card2:hover{
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}
.service_card3{
    position: relative;
    height: 300px;
    background-image: url(/src/Utils/Images/p-3082341.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
    opacity: 0.8;
}
.service_card3:hover{
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}
.service_row_cards2{
    position: relative;
    margin-top: 70px;
}

.service_card4{
    position: relative;
    height: 300px;
    background-image: url(/src/Utils/Images/p-6357.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
    opacity: 0.8;
}
.service_card4:hover{
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

@media only screen and (min-width: 350px) and (max-width: 770px) {
    .service_container{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .service_row_cards1{
        position: relative;
        margin-top: 30px;
    }
    .service_card_text{
        position: relative;
        display: flex;
        top: 40px;
        justify-content: flex-end;
        text-align: justify;
        font-size: 15px;
        font-weight: 600;
        color: var(--text-color-fff);
    }
    .service_card2{
      margin-top: 30px;
    }
    .service_row_cards2{
        position: relative;
        margin-top: 80px;
    }
}
/* @media only screen and (min-width: 370px) and (max-width: 770px) {
    .service_row_cards1{
        position: relative;
        top: 60px;
    }
    .service_card_text{
        position: relative;
        display: flex;
        top: 40px;
        justify-content: flex-end;
        text-align: left;
        font-size: 1rem;
        font-weight: 600;
        font-style: oblique;
        color: var(--text-color-fff);
    }
    .service_card2{
      margin-top: 0px;
    }
    .service_card3{
        margin-top: 50px;
    }
  
} */

@media only screen and (min-width: 760px) and (max-width: 1024px) {
    .service_row_cards1{
        position: relative;
        top: 60px;
    }
    .service_card_text{
        position: relative;
        display: flex;
        top: 40px;
        justify-content: flex-end;
        text-align: justify;
        font-size: 1rem;
        font-weight: 600;
        font-style: oblique;
        color: var(--text-color-fff);
    }
    .service_card2{
      margin-top: 0px;
    }
    .service_card3{
        margin-top: 50px;
    }
  
}


