.home_page_container{
    position: relative;
    width: 100%;
    height: 100%;
}
.carousel_slide1{
    position:relative;
    width: 100%;
    height: 100vh;
}
.home_page_welcome{
    position: relative;
    top: 60px;
    font-size: 35px;
    font-weight: 900;
    font-style: oblique;
    color: var(--text-color-fff);
}
.home_page_text{
    position: relative;
    top: -100px;
    font-size: 35px;
    font-weight: 900;
    font-style: oblique;
    color:  rgb(68, 114, 196) !important;;
    text-align:center;
}
.home_page_text3{
    position: relative;
    top: -100px;
    font-size: 35px;
    font-weight: 900;
    font-style: oblique;
    color: rgb(68, 114, 196) !important;;
    text-align: center;
}
.home_page_text1{
    position: relative;
    top: -50px;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    color: var(--text-color-fff);
    text-align: center;
}
.home_page_text2{
    position: relative;
    top: -50px;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    color: var(--text-color-fff);
    text-align: center;
    text-transform: capitalize;
}
.home_page_btn{
    position: relative;
    top: -30px;
    left: 0px;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    color: var(--text-color-fff);
    border-radius: 20px;
}

/* Services CSS */
.home_page_service_container{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

/* About Us CSS */
.home_page_about_container{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 60vh;
    background-color: #f0f4f8;
}

/* Footer Css */
/* .home_page_footer_container{
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #d5d5d5;
} */

@media only screen and (min-width: 370px) and (max-width: 600px) {
    /* Services CSS */
.home_page_service_container{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

/* About Us CSS */
.home_page_about_container{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 90vh;
    background-color: #f0f4f8;
}

/* Footer Css */
.home_page_footer_container{
    position: relative;
    /* margin-top: 650px; */
    width: 100%;
    height: 60vh;
    background-color: #d5d5d5;
}

}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  
.home_page_text{
     position: relative;
     top: -150px;
     font-size: 35px; 
     font-weight: 900;
     font-style: oblique;
     color: var(--text-color-fff);
     text-align: center;
    }    

    /* Services CSS */
.home_page_service_container{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

/* About Us CSS */
.home_page_about_container{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 50vh;
    background-color: #f0f4f8;
}

/* Footer Css */
.home_page_footer_container{
    position: relative;
    /* margin-top: 650px; */
    width: 100%;
    height: 30vh;
    background-color: #d5d5d5;
}

}

@media only screen and (min-width: 1020px) and (max-width: 1200px) {
    /* Services CSS */
.home_page_service_container{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

/* About Us CSS */
.home_page_about_container{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    background-color: #f0f4f8;
}

/* Footer Css */
.home_page_footer_container{
    position: relative;
    /* margin-top: 650px; */
    width: 100%;
    height: 100%;
    background-color: #d5d5d5;
}

}