.top_nav_brand{
    font-size: 18px;
    font-weight: 900;
    color: rgb(68, 114, 196) !important;
}

.top_nav_links{
    font-size: 15px;
    font-style: normal;
    color: #4b4b4b !important;
}
.top_nav_links:hover{
    cursor: pointer;
    color: rgb(68, 114, 196) !important;
}

.top_nav_service_overlay{
    width: 180px;
    margin-top: 6px;
    text-align: left;
    background: var(--text-color-fff) !important;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000019;
}
.top_nav_bar_link{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #4b4b4b;
}

.top_nav_active_links{
    background-color: red;
    border-bottom: 1px solid red;
}