.web_development_container{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 150px;
    margin-top: 50px;
}
.web_development_row{
    position: relative;
    height: 50vh;
    background-color: #f0f4f8 !important;
    background-image: url(/src//Utils/Images/web.jpg);
    background-position: bottom;
    background-size:cover;
}
.web_development_col_text{
    position: relative;
    top: 140px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-style: normal;
    line-height: 1.5;
    font-weight: 700;
    color: #14aafa;
    text-align: center;
    text-transform: uppercase;
}
.web_development_col_span{
    position: relative;
    /* width: 200px; */
    height: 150px;
    background-color: #F5F4F4;
    box-sizing: border-box;
    padding: 10px 60px 20px;
    border-radius: 20px;
    text-transform: uppercase;
}
.web_development_row_head{
    position: relative;
    margin-top: 30px;
}

.web_development_col_text1{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    font-weight: 300;
    color: #4e4f4f;
    text-align: center;
}
.web_development_col1_text{
    position: relative;
    margin-top: 50px;
    display: inline-flex;
    justify-content: center;
    font-size: 30px;
    font-style: normal;
    line-height: 45px;
    font-weight: 600;
    color: #14aafa;
    text-align: center;
    text-transform: capitalize;
}
.web_development_row1{
    position: relative;
    margin-top: 100px ;
}
.web_development_col2{
    position: relative;
    margin-left: 100px;
    background-color: #F5F4F4;
    box-sizing: border-box;
    padding: 20px 30px 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.web_development_col2:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}
.web_development_setting_icon{
    position: relative;
    margin-bottom: 30px;
    width: 15%;
}
.web_development_text_span{
    position: relative;
    font-size: 17px;
    font-style: normal;
    line-height: 1.5;
    font-weight: 600;
    color: #14aafa;
    text-align: left;
    text-transform: capitalize;
}
.web_development_text_p{
    margin-top: 15px;
    font-size: 16px;
    color: #4e4f4f;
    line-height: 28px;
    text-align: left;
}

@media only screen and (min-width: 370px) and (max-width: 760px) {
    .web_development_row{
        position: relative;
        height: 40vh;
        background-color: #f0f4f8;
    }
    .web_development_col_text{
        position: relative;
        top: 60px;
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-style: normal;
        line-height: 1.5;
        font-weight: 700;
        color: #14aafa;
        text-align: center;
    }
    .web_development_col_text1{
        position: relative;
        top: 20px;
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-style: normal;
        line-height: 1.5;
        font-weight: 300;
        color: #4e4f4f;
        text-align: center;
    }

    .web_development_col1_text{
        position: relative;
        margin-top: 50px;
        display: inline-flex;
        justify-content: center;
        font-size: 18px;
        font-style: normal;
        line-height: 35px;
        font-weight: 600;
        color: #14aafa;
        text-align: center;
    }
    .web_development_col2{
        position: relative;
        margin-left: 20px;
        margin-top: 50px;
    }
    .web_development_row1{
        position: relative;
        margin-top: 20px ;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1020px) {
    .web_development_row{
        position: relative;
        height: 40vh;
        background-color: #f0f4f8;
    }
   
    .web_development_col2{
        position: relative;
        margin-left: 30px;
        margin-top: 50px;
    }
    .web_development_row1{
        position: relative;
        margin-top: 20px ;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
    .web_development_row{
        position: relative;
        height: 30vh;
        background-color: #f0f4f8;
    }
    .web_development_row_head{
        position: relative;
        margin-top: 50px;
    }
   
    .web_development_col2{
        position: relative;
        margin-left: 50px;
        margin-top: 50px;
    }
    .web_development_row1{
        position: relative;
        margin-top: 20px ;
    }
}