.about_container{
    position: relative;
    width: 100%;
    height: 65vh;
    top: 20px;
}
.about_text{
    position: relative;
    top: 20px;
    font-size: 1.6rem;
    font-weight: 900;
    color: #14aafa;
    text-align: center;
}
.about_text1{
    position: relative;
    top: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #4e4f4f;
    line-height: 1.6;
    text-align: justify;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media only screen and (min-width: 340px) and (max-width: 700px) {
    .about_container{
        position: relative;
        width: 100%;
        height: 90vh;
        top: 20px;
    }
    .about_us_col_text_p{
        position: relative;
        margin-left: 50px;
    }

    .about_text1{
        position: relative;
        top: 40px;
        font-size: 14px;
        font-weight: 700;
        color: #4e4f4f;
        line-height: 1.6rem;
        text-align: justify;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
   
}

@media only screen and (min-width: 760px) and (max-width: 990px) {
    .about_container{
        position: relative;
        width: 100%;
        height:60vh;
        top: 0px;
    }
    .about_us_col_text_p{
        position: relative;
        margin-left: 50px;
    }

    .about_text1{
        position: relative;
        top: 40px;
        font-size: 18px;
        font-weight: 700;
        color: #4e4f4f;
        line-height: 1.6rem;
        text-align: justify;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
   
}
@media only screen and (min-width: 1020px) and (max-width: 1100px) {
    .about_container{
        position: relative;
        width: 100%;
        height: 60vh;
        top: 0px;
    }
    .about_us_col_text_p{
        position: relative;
        margin-left: 50px;
    }

    .about_text1{
        position: relative;
        top: 40px;
        font-size: 20px;
        font-weight: 700;
        color: #4e4f4f;
        line-height: 2.2rem;
        text-align: justify;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
   
}



