.our_work_container{
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}
.our_work_row{
    position: relative;
    height: 90vh;
    background-image: url(/src//Utils/Images/p-205316.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.our_work_col{
    position: relative;
    top: 70px;
    justify-content: center;
    text-align: center;
}
.our_work_col_span{
    font-size: 45px;
    font-style: normal;
    line-height: 1.5;
    font-weight: 700;
    color: #14aafa;
    text-align: center;
}

.our_work_col_span1{
    position: relative;
    top: 20px;
    margin-left: 180px;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    font-weight: 700;
    color: #4e4f4f;
    text-align: center;
}
.our_work_col_head{
    position: relative;
    top: 20px;
    justify-content: center;
    text-align: center;
}
.our_work_head_h6{
    font-size: 34px;
    font-style: normal;
    line-height: 44px;
    font-weight: 300;
    color: #14aafa;
}
.our_work_head_h3{
    font-size: 34px;
    font-style: normal;
    line-height: 44px;
    font-weight: 600;
    color: #14aafa;
}
.our_work_row_text1{
    position: relative;
    margin-top: 80px;
}
.our_work_web_icon{
    position: relative;
    width: 150px;
    left: 100px;
    bottom: 20px;
}
.our_work_col_web{
    position: relative;
    margin-left: 120px;
}
.our_work_text_span{
    position: relative;
    font-size: 17px;
    font-style: normal;
    line-height: 1.5;
    font-weight: 600;
    color: #14aafa;
    text-align: left;
}
.our_work_text_p{
    margin-top: 15px;
    font-size: 16px;
    color: #4e4f4f;
    line-height: 28px;
    text-align: left;
}
.our_work_row_text2{
    position: relative;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
}
.our_work_secure_icon{
    position: relative;
    width: 100px;
    margin-bottom: 30px;
}
.our_work_col_icons{
    position: relative;
    box-shadow: 0 50px 100px 0 rgb(1 1 64 / 6%);
    margin: 0px 32px 0 30px;
    padding: 83px 0;
    border-radius: 30px;
    margin-top: 150px;
}
.our_work_col_icons1{
    position: relative;
    box-shadow: 0 50px 100px 0 rgb(1 1 64 / 6%);
    margin: 0px 32px 0 30px;
    padding: 83px 0;
    border-radius: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.our_work_col_icons2{
    position: relative;
    box-shadow: 0 50px 100px 0 rgb(1 1 64 / 6%);
    margin: 0px 32px 0 30px;
    padding: 83px 0;
    border-radius: 30px;
    margin-bottom: 150px;
}
.our_work_row_text3{
    position: relative;
    margin-top: 80px;
    text-align: left;
}
.our_work_col_bg{
    position: relative;
    margin-left: 50px;
    height: 450px;
    background-image: url(/src//Utils/Images/p-1181288.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.our_work_col_bg_text{
    position: relative;
    margin-left: 50px;
}
.our_work_bg_h3{
    font-size: 34px;
    font-style: normal;
    line-height: 1.4;
    font-weight: 500;
    color: #14aafa;
    text-align: left;
}
.our_work_bg_h6{
    font-size: 16px;
    color: #4e4f4f;
    line-height: 28px;
    text-align: left;
}
.our_work_bg_p{
    font-size: 16px;
    color: #4e4f4f;
    line-height: 28px;
    text-align: left;
}

@media only screen and (min-width: 370px) and (max-width: 700px) {
    .our_work_row{
        position: relative;
        width: 100%;
        height: 60vh;
        background-image: url(/src//Utils/Images/p-205316.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .our_work_col{
        position: relative;
        top: 120px;
        justify-content: center;
        text-align: center;
    }
    .our_work_col_span{
        font-size: 25px;
        font-style: normal;
        line-height: 1.5;
        font-weight: 700;
        color: #14aafa;
        text-align: center;
    }

    .our_work_col_span1{
        position: relative;
        top: 10px;
        margin-left: 80px;
        font-size: 12px;
        font-style: normal;
        line-height: 1.5;
        font-weight: 700;
        color: #4e4f4f;
        text-align: center;
    }
    .our_work_col_web{
        position: relative;
        margin-left: 60px;
        margin-bottom: 30px;
    }
    .our_work_web_icon{
        position: relative;
        width: 150px;
        left: 60px;
        bottom: 20px;
    }

    .our_work_col_bg{
        position: relative;
        margin-left: 0px;
        margin-bottom: 30px;
        height: 450px;
        background-image: url(/src//Utils/Images/p-1181288.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .our_work_row_text2{
        position: relative;
        margin-top: -80px;
        justify-content: center;
        text-align: center;
    }

}
@media only screen and (min-width: 700px) and (max-width: 1030px) {
    .our_work_row{
        position: relative;
        width: 100%;
        height: 60vh;
        background-image: url(/src//Utils/Images/p-205316.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .our_work_col{
        position: relative;
        top: 150px;
        justify-content: center;
        text-align: center;
    }
    .our_work_col_span{
        font-size: 32px;
        font-style: normal;
        line-height: 1.5;
        font-weight: 700;
        color: #14aafa;
        text-align: center;
    }

    .our_work_col_span1{
        position: relative;
        top: 10px;
        margin-left: 80px;
        font-size: 16px;
        font-style: normal;
        line-height: 1.5;
        font-weight: 700;
        color: #4e4f4f;
        text-align: center;
    }
    .our_work_col_web{
        position: relative;
        margin-left: 60px;
        margin-bottom: 30px;
    }
    .our_work_web_icon{
        position: relative;
        width: 150px;
        left: 60px;
        bottom: 20px;
    }

    .our_work_col_bg{
        position: relative;
        margin-left: 0px;
        margin-bottom: 30px;
        height: 450px;
        background-image: url(/src//Utils/Images/p-1181288.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .our_work_row_text2{
        position: relative;
        margin-top: -80px;
        justify-content: center;
        text-align: center;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1380px) {

    .our_work_col{
        position: relative;
        top: 190px;
        justify-content: center;
        text-align: center;
    }
    .our_work_col_span{
        font-size: 45px;
        font-style: normal;
        line-height: 1.5;
        font-weight: 700;
        color: #14aafa;
        text-align: center;
    }

    .our_work_col_span1{
        position: relative;
        top: 10px;
        margin-left: 80px;
        font-size: 20px;
        font-style: normal;
        line-height: 1.5;
        font-weight: 700;
        color: #4e4f4f;
        text-align: center;
    }

}
@media only screen and (min-width: 1360px) and (max-width: 1370px) {

    .our_work_col{
        position: relative;
        top: 220px;
        justify-content: center;
        text-align: center;
    }
    .our_work_col_span{
        font-size: 45px;
        font-style: normal;
        line-height: 1.5;
        font-weight: 700;
        color: #14aafa;
        text-align: center;
    }

    .our_work_col_span1{
        position: relative;
        top: 20px;
        margin-left: 90px;
        font-size: 20px;
        font-style: normal;
        line-height: 1.5;
        font-weight: 700;
        color: #4e4f4f;
        text-align: center;
    }

}
